<div class='col-md-12 container-block text-center' style='margin-bottom:1em'>
  <header style='border-bottom: thin solid lightgray'>
    <h3>Current Balance</h3>
  </header>
  <% if current_user.paid %>
    <p class='dashboard-numbers' style='padding-bottom:0'><%= number_with_delimiter(current_user.calculate_balance, delimeter: ',') %></p>
    <p class='dashboard-numbers' style='padding:0'><i class='fa fa-btc' style='color: #FF9900'></i> satoshi</p>
  <% else %>
    <%= form_tag purchase_path, class:'stripe-form' do %>
      <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
       data-key="<%= ENV['STRIPE_TEST_PUBLISH_KEY'] %>"
       data-description="$5.00"
       data-amount="500">
       </script>
       <script type="text/javascript">
         $(".stripe-button-el span").text("Go Pro to Unlock");
       </script>
    <% end %>
  <% end %>
</div>
