<div class='col-md-12 container-block text-center' style='margin-bottom:1em'>
  <header style='border-bottom: thin solid lightgray'>
    <h3>Next Goals</h3>
  </header>
  <p class='dashboard-numbers'><%= image_tag 'runner.png' %><%= current_user.next_run_goal %> Miles</p>
  <p class='dashboard-numbers'><%= image_tag 'biking.png' %><%= current_user.next_cycle_goal %> Miles</p>
</div>
