<div class='col-md-12'>
  <div class='col-md-4'>
    <div class='col-md-12 container-block'>
      <header style='border-bottom: thin solid lightgray'>
        <h3>Your Balance</h3>
      </header>
      <% if current_user.paid %>
        <p><i class='fa fa-btc'></i> <%= CurrencyConverter.satoshi_to_btc(current_user.calculate_balance.to_s) %></p>
      <% else %>
        <%= form_tag purchase_path do %>
          <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
           data-key="<%= ENV['STRIPE_TEST_PUBLISH_KEY'] %>"
           data-description="$5.00"
           data-amount="500">
           </script>
           <script type="text/javascript">
             $(".stripe-button-el span").text("Go Pro to Unlock");
           </script>

        <% end %>
      <% end %>
    </div>
    <div class='col-md-12 container-block'>
      <header style='border-bottom: thin solid lightgray'>
        <h3>Next Goal</h3>
      </header>
      <p><%= current_user.next_goal %> Miles</p>
    </div>
    <div class='col-md-12 container-block'>
      <header style='border-bottom: thin solid lightgray'>
        <h3>Social Feed</h3>
      </header>
      <p></p>
    </div>
  </div>
  <div class='col-md-8 container-block'>
    <header>
      <h3>Activity Feed</h3>
    </header>
  </div>
</div>
