<div class='col-md-12'>
  <div class='col-md-4'>
    <div class='col-md-12 container-block'>
      <header style='border-bottom: thin solid lightgray'>
        <h3>Your Balance</h3>
      </header>
      <p><i class='fa fa-ticket'></i><%= BtcAccount.get_balance_for_user(current_user) %></p>
    </div>
    <div class='col-md-12 container-block'>
      <header style='border-bottom: thin solid lightgray'>
        <h3>Next Goal</h3>
      </header>
      <p><%= current_user.next_goal %> Miles</p>
    </div>
    <div class='col-md-12 container-block'>
      <header style='border-bottom: thin solid lightgray'>
        <h3>Social Feed</h3>
      </header>
      <p></p>
    </div>
  </div>
  <div class='col-md-8 container-block'>
    <header>
      <h3>Activity Feed</h3>
    </header>
  </div>
</div>
