<div class='container'>
  <div class="row grid">
    <% @products.each do |product| %>
      <div class="col-md-3 grid-item" style='margin-bottom:1em;'>
        <div class='col-md-12 product-image' style='position:relative'>
          <%= link_to image_tag(product.picture, style: 'border: thin solid lightgray'), product_path(product) %>
          <div class='product-info'>
            <div class='text-center'>
              <div style='background-color:white'>
                <h4 class='upcase'><%= link_to product.title, product_path(product) %></h4>
                <h5 style='font-size:1.5em'><%= number_with_delimiter(CurrencyConverter.usd_to_satoshi(product.price), delimiter: ',') %> <i class='fa fa-btc' style='font-size:1em; color: #FF9900'> satoshi</i></h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js">
  productMasonry = function(){
    $('.grid').masonry({
      itemSelector: '.grid-item'
      // columnWidth: 25
    });
  }
  $(document).on('turbolinks:load', productMasonry);
</script>

