<div class='container'>
  <div class='col-md-12 text-center'>
    <h2 class='upcase'>Welcome to the BitStore</h2>
    <h3>Current Balance: <%= number_with_delimiter(current_user.calculate_balance, delimeter: ',') %> <i class='fa fa-btc' style='color:#FF9900'></i> satoshi </h3>
  </div>
</div>
<%= render 'masonry_products' %>
