<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-6">
        <p>SwoleBit <i class="fa fa-copyright"></i></p>
      </div>
      <div class="col-md-6">
        <p class="pull-right">If you enjoy BitCoin click <a href="https://en.bitcoin.it/wiki/Main_Page" target="_blank">here</a> to learn more.</p>
      </div>
    </div>
  </div>
</div>
